@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Montserrat:wght@400;500;600;700;800&display=swap');

body {
    font-family: "Montserrat";
    background-color: antiquewhite;
}

.header-inner-div {
    padding-bottom: 10rem !important;
}


#randomUserDisplaySection {
    margin-top: -12rem;
    color: rgb(171, 206, 55);
}

.user-rounded-image {
    border-radius: 100%;
    margin-bottom: -4rem;
    border: 4px solid gainsboro;
}


#displayUserInfo {
    vertical-align: middle;

}
